body {
  margin: 0;
  padding: 0;
}

header {
  background: #111111;
  color: lightcyan;
  padding: 15px;
  text-align: center;
}

.timer {
  border: 1px solid #ccc;
  color: pink;
  font-size: 18px;
  padding: 5px;
}

.address {
  color: red;
  font-weight: bold;
  text-align: center;
}

section {
  display: flex;
  justify-content: space-evenly;
}

section div {
  border: 1px solid green;
  padding: 10px;
}
